<%- include('../partials/header') %>
    <div class="container vh-100 d-flex flex-column justify-content-center align-items-center">

        <div class="container py-5">
            <div class="text-center mb-4">
                <h2 class="mb-3">All Registered Users</h2>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <ul class="list-group">
                                <% users.forEach(user=> { %>
                                    <% if (user.role !=='admin' ) { %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="/users/<%= user._id %>" class="text-decoration-none">
                                                <%= user.name %>
                                            </a>
                                            <div>
                                                <a href="/users/<%= user._id %>/edit"
                                                    class="btn btn-sm btn-warning">Edit</a>
                                                <a href="/users/<%= user._id %>/delete"
                                                    class="btn btn-sm btn-danger">Delete</a>
                                            </div>
                                        </li>
                                        <% } %>
                                            <% }); %>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="/" class="btn btn-secondary btn-lg me-2">Home</a>
                        <a href="/" class="btn btn-secondary btn-lg">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="mt-auto">
        <%- include('../partials/footer') %>
    </footer>